*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body  {
    background-color:#0e0e0e
}
.container{
	max-width: 1280px;
	margin: 0 auto;
	padding:0 2%;
    display: flex;
    justify-content: space-between; /* Distribute items evenly with spaces in between */
    align-items: center;         /* Vertically align items to the center */
}

.w60{
	width: 60%;
	float: left;
}

.w40{
	width: 40%;
	float: left;
}

.w50{
	width: 50%;
	float: left;
}

.w33{
	flex:1;
	float: left;
	width: 33.3%;
}

.logo_center {
    display: flex;
    justify-content: center; /* Center logo horizontally within its container */
}

.main{
	color: #fff;
	margin:10px 0 10px 0;

}
.center{text-align: center;}

.clear{clear: both;}

/*Classes do meu site*/
header{
	padding: px 0;
	height: 60px;
	background: conic-gradient(#000 0deg, #000 217.5deg, #fff 217.5deg, #fff 322.5deg, #000 322.5deg);
}

footer{
	padding: 10px 0;
	background-color: #fff;
}

footer  a{
	text-decoration: none;
	color:#000;
}
header h1{
    color: #000;
	font-size: 18pt;
}

nav.menu_mobile{
	display:none;
	float:right;
}

nav.menu_mobile h2{
	height: 60px;
	padding: 15px 10px;
	cursor: pointer;
	color:#fff;
	transition: background-color 0.1s ease, color 0.1s ease; /* Add transition effect for smooth color changes */
}
nav.menu_mobile ul{
	display: none;
	width: 100%;
	background: white;
	position: absolute;
	left: 0;
	top: 60px;
	z-index: 999;
	text-align: center;
}

nav.menu_mobile li{
	padding:8px 0;
	border-bottom: 1px solid black;
}

nav.menu_mobile li.selected{
	background: rgb(225,225,225);
}

nav.menu_mobile a{
	display: block;
	color: black;
	text-decoration: none;
}

nav.menu_desktop{
	float: right;
}

nav.menu_desktop ul{
	position: relative;
	top: 0px;
}

nav.menu_desktop li{
	padding:0 0px;
	font-weight: lighter;
	display: inline-block;
}

nav.menu_desktop li a{
	height: 60px;
	padding:20px 10px;
	display: flex;
	color: #fbfbfb;
	text-decoration: none;
	transition: background-color 0.1s ease, color 0.1s ease; /* Add transition effect for smooth color changes */
}

nav.menu_desktop a:hover{
	background-color: #fff;
    color: #000;}

nav.menu_desktop a:active {
    background-color: #000;
    color: #fff;
}

nav.menu_mobile h2:hover{
	background-color: #fff;
    color: #000;}

nav.menu_mobile h2:active {
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 700px){
	.card-text{width: 100%;}
	.equipe-circle-single{
	padding: 0 8px;
	width: 100%;
	margin-bottom: 30px;
	}
	nav.menu_desktop{display: none !important;}
	nav.menu_mobile{display: block !important;}
	header h1{
		font-size: 15pt;
	}
	.card-single{
		padding:10px;
	}
}
